body{background-color:aqua;}



h1{color:gray; font-style: italic;}

#p1{color:white;}

#p2{color:orange;font: 1em sans-serif;font-weight: 1000;}

#p3{color: rgb(255, 149, 255)}










